
body {
    background-color: rgba(233, 239, 246, 0.743);
}

#board {
    width: 450px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.panel-header i {
    font-size: 14px;
}
.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 11.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}
.select_row{
    background-color: #c9c9c9;
}
.panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-direction: column;
}
.panel-footer {
    margin: 0 auto;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-footer #game_over_btn {
    width: 150px;
    height: 30px;
    color: black;
    border: 1px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}